body {
    background: white;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 24px;
}

h3 {
    color: blue;
}

h6 {
    width: 125px;
}

h6:hover{    
    background: white;
    color: black;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

img {
    width: 230px;
    height: 100px;
}

img:hover {
    border: solid 2px blue;
    transform: scale(1.1);
}

.label{
    display: inline-block; 
    float: left;
}

.form-label {
    font-weight: bold;
    width: 200px;
    margin: 15px;
}

.form-text-input {
    margin: 15px;
}

.input {
    border: 1px solid darkgreen;
    width: 400px;
}

.submit {
    margin: 15px;
    background: blue;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 30px;
}

#top-level {
    width: 45%;
    margin: auto;
}

#logo {
    text-align: center;
}

#all-the-best {
    text-align: center;
}

#select {
    width: 350px;
}