body {
    background: white;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 24px;
}

h3 {
    color: blue;
}

h6 {
    width: 125px;
}

h6:hover{    
    background: white;
    color: black;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

img {
    width: 230px;
    height: 100px;
}

img:hover {
    border: solid 2px blue;
    transform: scale(1.1);
}

/*.label{
    display: inline-block; 
    float: left;
}*/

.form-label {
    font-weight: bold;
/*    width: 200px;*/
    margin-bottom: 15px;
}

.form-text-input {
    margin-bottom: 15px;
}

.input {
    border: 2px solid green;
    height: 25px;
    width: 80%;
}

.txtarea {
    border: 2px solid green;
    width: 80%;    
}

.submit {
    background: blue;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 30px;
}

.submit:hover {
    cursor: pointer;
}

.row {
    height: 50px;
}

.column {
    float: left;
}

.left {
    width: 26%;
}

.right {
  width: 74%;
}

#form-wrapper:after {
  content: "";
  display: table;
  clear: both;    
}

#top-level {
    width: 50%;
    margin: auto;
}

#logo {
    text-align: center;
}

#all-the-best {
    text-align: center;
}

#select {
    width: 81%;
    height: 30px;
}
<<<<<<< HEAD
=======

#goto-logo {
    margin: 15px;
    background: blue;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 30px;    
}
>>>>>>> realign-form-elements
